@model Emergency_Management.Models.StaffType_Staff

@{
    ViewBag.Title = "stafftype";
}

<h2>stafftype</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>mayar</th>
    </tr>

</table>
